version: "3.8"

services:
  web:
    build:
      context: .
    volumes:
      - .:/app
    command: bash -c "uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload"
    container_name: starlogs
    environment:
      - PYTHONPATH=/app
    ports:
      - "8000:8000"

  redis:
    container_name: redis
    image: redis:6.2-alpine

  celery_worker:
    container_name: celery_worker
    build:
      context: .
    command: celery -A app.core.task.celery worker --loglevel=info --pool=solo
    volumes:
      - .:/app
    environment:
      - CELERY_BROKER_URL=${CELERY_BROKER_URL}
      - CELERY_RESULT_BACKEND=${CELERY_RESULT_BACKEND}
      - PYTHONPATH=/app
    depends_on:
      - web
      - redis

  flower:
    container_name: flower
    build:
      context: .
    command: celery -A app.core.task.celery flower --port=5555
    ports:
      - 5556:5555
    environment:
      - CELERY_BROKER_URL=${CELERY_BROKER_URL}
      - CELERY_RESULT_BACKEND=${CELERY_RESULT_BACKEND}
      - PYTHONPATH=/app
    depends_on:
      - web
      - redis
      - celery_worker

  app:
    container_name: react-app
    build:
      context: .
      dockerfile: DockerfileReact
    ports:
      - 8080:80